Styling for all elements*/
body {
	font-family: Verdana sans-serif;
	margin: 0px;
}
/*Header styling*/

header {
	font-weight: bold;
	align-items: center;
	font-size: 16px;
	display: flex;
	position: fixed;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid black;
	background-color: white;
	z-index: 10;
	margin-top: 0px;
}
header .logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-left: 20px;
}
header .logo img {
	width: 70px;
	height: 60px;
	margin-right: 12px;
}
header .logo span {
	color: MediumAquamarine;
}
header nav {
	display: flex;
	align-items: center;
	padding-right: 30px;	
}
header nav span {
	display: inline-block;
	padding: 10px 20px;
}
header nav span a {
	color: black;
}

/*Main content styling */
.main-content {
	display: flex;
	position: relative;
	top: 100px;
	z-index: 1;
	justify-content: center;
	flex-wrap: wrap;
}
.images {
	height: 300px;
	display: flex;
	align-items: center;
}
h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}
.images h2 {
  color: white;
  text-align: center;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* Large column styling / Left side column*/
.main-content .large {
	width: 630px;
	display: flex;
	flex-direction: column;
	margin-right: 32px;
}
.bottom-main {
	display: flex;
	flex-direction: row;
}
.left {
	margin-right: 15px;
}
.img-main-story {
	background-image: url('../images/img-story-main.png');
}
#heading2 {
	font-size: 40px;
}
.img-story-2 {
	background-image: url('../images/img-story-2.png');
}
.img-story-3 {
	background-image: url('../images/img-story-3.png');
}

/*Medium column styling / Middle column*/
.main-content .medium {
	width: 300px;
	display: flex;
	flex-direction: column;
	margin-right: 32px;
}
.img-story-1 {
	background-image: url('../images/img-story-1.png');
}
/*Small column styling  / Right column */
.main-content .small {
	width: 240px;
	display: flex;
	flex-direction: column;
}
.small div p {
    margin: 0px;
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
    padding: 11px 20px;
    border-bottom: 1px solid black;
	}
.small div h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/*Footer*/
footer {
	display: flex;
	position: relative;
	top: 120px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 325px;
    margin: 0px;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
}
footer .footer-top {
	margin-bottom: 15px;
}
footer .footer-top .title {
	display: inline-block;
	font-family: Georgia;
	font-size: 16px;
	font-weight: bold;
	color: white;
	border-right: 2px solid white;
	padding-right: 30px;
}
footer .footer-top nav {
	display: inline-block;
	padding-left: 30px;
}

footer nav span  a{
	color: black; 
}